<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pax.TrainsSchedule" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.RaspServiceNetworkService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".Services.SuggestsRaspService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity android:name=".Search_Activity"
            android:label="@string/app_search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
